{{ define "main" }}

<!-- <section id="blog-section"> -->
	<div class="container full" id="post-full">
		<div class="inner">
			<p id="text05">{{ .Title }}</p>
			
			<div id="text06">
				<time class="post-date" datetime='{{ .Date.Format "2006-01-02" }}'>
					{{ .Date.Format "2 January 2006" }}
				</time>
				<span class="post-author">, {{.Params.author }}</span>
			</div>

			<div id="post-content">
				{{ .Content }}
			</div>

<!-- 	        <article class="post">
	            {{ template "_internal/disqus.html" . }}
	        </article> -->
		</div>
	</div>
<!-- </section> -->

{{ end }}