{{ define "main" }}

<section id="home-section">
	<div class="container full screen" id="container03">
		<div class="inner">
			<p id="text03"><span>At Healthy Bites, we take the hell out of healthy.</span><br /><span>We are passionate about people and food and want to restore your relationship with your body and with food by giving you practical step by step advice and continued support</span></p>
		</div>
	</div>

	<div class="container full screen" id="container08">
		<div class="inner">
			<p id="text21">From the Blog</p>
		</div>
	</div>
	<div class="container full screen" id="container07">
		<div class="inner">
			{{ range first 3 .Pages }}
			<div>
				<div class="image" id="image03">
					<img src="assets/images/image03.jpg" alt="Photo by Jason Wong on Unsplash" />
				</div>
					<a href="{{ .Permalink }}">{{ .Title }}</a>
			</div>
			{{ end }}

		</div>
	</div>

	<hr id="divider02" />
	<h2 id="text01">What we do</h2>
	<div class="container full" id="container11">
		<div class="inner">
			<div>
				<p id="text07">Consultations</p>
				<p id="text10"><span>Individual consultations</span><br /><span>Vitality nutritional consultations</span><br /><span>DNAlysis consultations</span><br /><span>Body composition assessment</span><br /><span>Nutrition intervention programs</span></p>
			</div>
			<div>
				<p id="text13">Events</p>
				<p id="text15"><span>Group seminars &amp; Workshops</span><br /><span>Interactive presentations</span><br /><span>Cooking classes</span><br /><span>School and Corporate Wellness</span></p>
			</div>
		</div>
	</div>
	<div class="container full" id="container02">
		<div class="inner">
			<div>
				<p id="text20">Lifestyle</p>
				<p id="text16"><span>Healthy eating habits</span><br /><span>Infant and child health</span><br /><span>Weight loss or gain</span><br /><span>Heart health &amp; Cholesterol</span><br /><span>Diabetes and Insulin Resistance</span></p>
			</div>
			<div>
				<p id="text11">Conditions</p>
				<p id="text02"><span>Kidney dysfunction</span><br /><span>Gastro intestinal health</span><br /><span>Fussy eaters</span><br /><span>Hyper activity</span><br /><span>Food intolerance and allergies</span></p>
			</div>
		</div>
	</div>
</section>

<section id="about-section">
	<div class="container full" id="container12">
		<div class="inner">
			<h2 id="text17">About</h2>
			<p id="text19">Our Values</p>
			<p id="text24">We value people, food and personal preference. We believe that God made food to be enjoyed and to nourish the body. It is very important to find that balance.</p>
			<p id="text23">Our Values</p><p id="text24"><span>Susan Conradie is a Registered Dietitian. She obtained her degree in Bsc Dietetics from North-West University. She is registered with the HPCSA and a member of the Association for Dietetics SA (ADSA).</span><br> <br> <span>Susan has worked in the public sector as a clinical Dietitian and gained experience in various disease categories. She believes that each individual needs a holistic and personalised approach. She also loves to work with groups giving presentations and workshops.</span></p>
			<p id="text25">Our Values</p><p id="text26">To empower communities and individuals with the knowledge to live long, fulfilling, and healthy lives.</p><p id="text27">Mission</p><p id="text28">To improve the nutritional knowledge of communities and individuals &amp; establish a healthy lifestyle through coaching, seminars &amp; workshops.</p>
		</div>
	</div>
</section>
<section id="contact-section">
	<div class="container" id="container01">
		<div class="inner">
			<p id="text04">Send us a message</p>
			<form id="form02" method="post" action="#">
				<div class="inner">
					<div class="field">
						<input type="text" name="name" id="form02-name" placeholder="Name" maxlength="128" />
					</div>
					<div class="field">
						<input type="email" name="email" id="form02-email" placeholder="Email" maxlength="128" />
					</div>
					<div class="field">
						<textarea name="message" id="form02-message" placeholder="Message" maxlength="16384"></textarea>
					</div>
					<div class="actions">
						<button type="submit">Submit</button>
					</div>
				</div>
				<input type="hidden" name="id" value="form02" />
			</form>
		</div>
	</div>
</section>

{{ end }}
